.men_1_1
{
    margin-left: 600px;
}
.ph_main{
    display: flex;
    gap: 500px;
}
.women_1_1
{
    margin-left: 600px;
}
.ph_main_main{
    display: flex;
    gap: 500px;
}
.home_main
{
    background-color: rgb(0, 38, 255);
    color: white;
    border: solid red 5px;
    width: 1530px;
    margin-left: -10px;
    margin-top: -10px;
}
li
{
    display: inline;
    padding: 70px;
}
.men_1_1
{
    margin-left: 600px;
}